.container {
  text-align: center;

}


.toggle-button {
  width: 123px;
  height: 38px;

  background-color: #4ddad1; /* Initial background color */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
  font-size: 14px;/* Add a transition for background color */
}


.toggle-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;/* Add a transition for background color */
}





