.container {
  text-align: center;

}


.toggle-button {
  width: 150px;
  height: 38px;
  background-color: lightgreen; /* Initial background color */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
  font-size: 14px;/* Add a transition for background color */
}





