.layout--blog-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  padding: 32px;
  background: radial-gradient(#333 25%, #232323 75%);
  padding: 16px 32px 0 32px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.layout--blog-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

/* Additional styling for small screens, if needed */
@media (max-width: 768px) {
  .layout--blog-container header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
  }
}

.layout--blog-container header h1 a {
  text-decoration: none;
  color: white;
  font-family: "Megrim", "Mono", monospace;
  font-size: 28px;
}

.header--blog {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

@media (max-width: 768px) {
  .header--blog  {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}



.layout--blog-container header nav ul {
  padding: 0;
  margin: 0 0 0 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .layout--blog-container header nav ul  {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 8px 0 0 0px;
    padding: 0;
  }
}

.layout--blog-container header nav ul li {
  padding: 1em;
  margin: 0;
}

@media (max-width: 768px) {
  .layout--blog-container header nav ul li  {
    padding: 0;
    padding-top: 16px;
  }
}

.layout--blog-container header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color:#4ddad1
}

.layout--blog-container main {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  color: white;

}

.layout--blog-container main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


