
textarea, input {
  width: 360px;
  width: 360px;
  margin-bottom: 16px;
  border: solid 1px #333;
  border-radius: 4px;
  padding: 8px;
}

input {
  height: 33px;
}

textarea {
  height: 90px;
}

label {
  margin-bottom: 8px;
}

button {
  margin: 32px 0 0 100px;
  width: 150px;
  background-color: #ee4c92; /* Initial background color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
/* Add a transition for background color */
}

